################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/PinFasterBall/ConsoleApplication1/.vs/PinFasterBall/v16/Browse.VC.opendb
